
    <head>
        <title>Flight Management System</title>	
      
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    </head>
    <body>
    <div class="background-wrapper">
        
            <div class="container-fluid">
                <header>
                    <h2>About Us</h2>
                    <hr>
                </header>
            </div>

   <!--panel-->
   <div class="col-sm-8 col-sm-offset-2">
      <div class="panel-group">
            <div class="panel panel-default panel-transparent">
              <div class="panel-heading">
                  <legend><b>Flight Management System</b></legend>
              </div>
              <div class="panel-body">
                  <div class="input-group">
                      <br>
                      <table id="t1">
                      <tr>
                          <td id="td1" class="col-md-6"><i class="fa fa-quote-left" style="color:wheat;"></i></td>
                          <td></td>
                          <td id="td2" class="col-md-6"><i class="fa fa-quote-right" style="color:wheat;"></i></td>
                      </tr>

                      <tr>
                          <td></td>
                          <td id="td3" class="col-md-12" colspan="all"><i>We are a company who believe in customer satisfaction and Safe Travelling...</i></td>
                          <td></td>
                      </table>
                      <br>
                      <h3><b><i>We provide :</i></b></h3>
                      <br>
                          <table>
                              <tr>
                                  <td id="td4"><span style="font-size: 20px" class="fas fa-dog"></span>&nbsp;<a href="#"> Travelling with Pet</a></td>
                              </tr>

                              <tr>
                                  <td id="td4"><i class="fa fa-shopping-bag" style="font-size: 20px;"></i>&nbsp; Baggage Allowance</td>
                              </tr>

                              <tr>
                                  <td id="td4"><i class="fa fa-child" style="font-size: 20px;"></i>&nbsp;&nbsp; Travelling with children</td>
                              </tr>

                              <tr>
                                  <td id="td4"><i class="material-icons" style="font-size: 20px;">redeem</i>&nbsp; Special Services</td>
                              </tr>

                              <tr>
                                  <td id="td4"><i class="fa fa-wifi" style="font-size: 20px"></i> Wifi Services</td>
                              </tr>
                          
                          
                          </table>
                      <br>
                      <br>
                      <br>
                      <br>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
</body>