<!-- <footer class="footer">
  <div class="container">
      <span class="text-muted">All Rights Reserved 2019 @JavaInUse</span>
  </div>

</footer> -->

<html>
	<head>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Poppins">
	</head>
	<body>

   
    
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
 
   
    

<footer id="footer" >
  <div class="container">
      <ul class="icons">
          <li><a href="https://twitter.com/?lang=en" class="fa fa-twitter" style="color: grey"></a></li>
          <li><a href="https://www.facebook.com/" class="fa fa-facebook" style="color: grey"></a></li>
          <li><a href="https://www.instagram.com/" class="fa fa-instagram" style="color: grey"></a></li>
          <li><a href="https://accounts.google.com/signup/v2/webcreateaccount?hl=en&flowName=GlifWebSignIn&flowEntry=SignUp" class="fa fa-envelope" style="color: grey"></a></li>
      </ul>
  </div>
  <div class="copyright">
      &copy; Flight Management System. All rights reserved.
  </div>
</footer>
</body>
</html>