<!DOCTYPE html>
<html>
<head>
<style>
.center {
  display: block;
  margin-top: 4cm;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}
</style>
</head>
<body>
    <div class="background-wrapper" style="background-color: #F2E3CC;">
    <div class="center" style="font-size: 170px; text-align: center; color: white">401</div>

    <div style="font-size: 30px; 
                text-align: center; 
                color: black;
                margin-bottom: auto;
                margin-left: auto;
                margin-right: auto;">Unauthorized Access detected = Access Denied</div>

    <div style="display: block;
                margin-bottom: auto;
                margin-left: auto;
                margin-right: auto;
                "><img src="/assets/Img/a1.jpg" style="width: 3cm; 
                height: 7cm;"></div>
</div>
</body>
</html>