<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="background-wrapper">

<div class="container-fluid">
    <header>
        <h2 style="color: white;" >Welcome,</h2>
        <hr style="border-top: 3px solid white ;">
    </header>
    <br>
   

    <div class="col-sm-8 col-sm-offset-2">
      <div class="panel-group">
            <div class="panel panel-default panel-transparent" style="color: transparent;">
              <div class="panel-heading">
                  <legend id="a2"><b>Flight Services We Offer...</b></legend>
              </div>
              <div class="panel-body">
                  <div class="input-group">
                      <ul style="list-style-type:circle; color: white; font-size: 20px;">
                        <br>
                        <br>
                          <li><a href="#" id="a1"><b>Book Flights</b></a></li><br>
                          <li><a href="#" id="a1"><b>View Available Flights</b></a></li><br>
                          <li><a href="#" id="a1"><b>View Past History</b></a></li>
                      </ul>
                      <br>
                      <br>
                      <br>
                      <br>
                      <br>
                      <table>
                        <tr>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><img id="td1" src="/assets/Img/bf.png"></td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><img id="td1" src="/assets/Img/ef.jpg"></td>
                            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
                            <td><img id="td1" src="/assets/Img/fcf.jpg"></td>
                            
                        </tr>

                        <tr>
                            <td></td>
                            <td id="td2"><b>Business Flights</b></td>
                            <td></td>
                            <td id="td2"><b>Economy Flights</b></td>
                            <td></td>
                            <td id="td2"><b>First Class Flights</b></td>
                        </tr>
                    </table>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      </div>
                      <br>
                      <br>
                      <br>
                      <br>
                      </div>
                      </body>
                      </html>
                    
      