<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="booking-cta">
                        <h1>Book your flight today!</h1>
                    </div>
                </div>
                <div class="col-md-7 col-md-offset-1">
                    <div class="booking-form">
                        <form [formGroup]="searchFlight" (ngSubmit)="onSubmit()">
                            <!--<div class="form-group">
                                <div class="form-checkbox">
                                    <label for="roundtrip">
                                        <input type="radio" id="roundtrip" name="flight-type">
                                        <span></span>Roundtrip
                                    </label>
                                    <label for="one-way">
                                        <input type="radio" id="one-way" name="flight-type">
                                        <span></span>One way
                                    </label>
                                    <label for="multi-city">
                                        <input type="radio" id="multi-city" name="flight-type">
                                        <span></span>Multi-City
                                    </label>
                                </div>
                            </div>-->

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <span class="form-label" for="sel1">Flying from</span>
                                        <select class="form-control" id="sel1" formControlName="sourceAirport">
                                            <option *ngFor="let a of airports" [ngValue]="a.id">{{a.location}}</option>
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <span class="form-label" for="sel1">Flying to</span>
                                        <select class="form-control" id="sel2" formControlName="destinationAirport">
                                            <option *ngFor="let a of airports" [ngValue]="a.id">{{a.location}}</option>   
                                        </select>
                                        <span class="select-arrow"></span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <span class="form-label">On</span>
                                        <input class="form-control" id="sel3" type="date" required formControlName="date">
                                    </div>
                                </div> 
                            </div>
                            <div class="row">
                                
                                <!--<div class="col-md-6">
                                    <div class="form-group">
                                        <span class="form-label">Returning</span>
                                        <input class="form-control" type="date" required>
                                    </div>
                                </div>-->
                                <!--<div class="col-md-12">
                                    <div class="form-btn" >
                                        <button class="submit-btn" (click)="displayTable()">Show flights</button>
                                        
                                    </div>
                                </div>-->
                                <div class="form-group">
                                    <input type="submit" value="Show Flights" class="btn btn-primary w-100" 
                                    >
                            </div>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- --------------------------------------------------------------------------------- -->
<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
  
    <div class="card-body">
      <div class="row">
        <div class="col-md-2">Filter by:</div>
          <div class="col-md-4">
            <input type="text"/>
        </div>
      </div>
      <div class="row"
         *ngIf="listFilter">
        <div class="col-md-6">
          <h4>Filtered by:</h4>
        </div>
      </div>
  
      <div class="table-responsive">
        <table class="table mb-0"
                
       >
          <thead>
            <tr>
              <!--<th>
                <button class="btn btn-outline-primary btn-sm"
                        (click)="toggleImage()">
                  {{showImage ? "Hide" : "Show"}} Image
                </button>
              </th>-->
              <th>Flight ID</th>
              <!-- <th>Flight Number</th> -->
              <th>Carrier Name</th>
              <th>Flight Model</th>
              <th>Arrival Time</th>
              <th>Departure Time</th>
              
              <th>Seats Available</th>
              <!--<th>5 Star Rating</th>-->
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let sf of scheduleFlights" >
              <!--<td>
                <img *ngIf="showImage && product.imageUrl"
                     [src]="product.imageUrl"
                     [title]="product.productName"
                     [style.width.px]="imageWidth"
                     [style.margin.px]="imageMargin">
              </td>-->
              <td>{{sf.scheduledFlightIdLong}}</td>
              <!-- <td></td> -->
              <td>{{sf.flight.carrierName}}</td>
              <td>{{sf.flight.flightModel}}</td>
              <td>{{sf.schedule.arraivalTime}}</td>
                <td>{{sf.schedule.departureTime}}</td>
                <td>{{sf.availableSeats}}</td>
              
              <td></td>
              <!--<td>{{ product.price | currency:"USD":"symbol":"1.2-2" }}</td>
              <td>
                <pm-star [rating]="product.starRating">
                </pm-star>
              </td>-->
              <td>
                <button class="btn btn-outline-primary btn-sm" 
                [routerLink]="['/user', 'bookNow']">
                  BOOK
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  
    </div>
  </div>
  
  <div *ngIf="errorMessage"
       class="alert alert-danger">
    Error: {{ errorMessage }}
  </div>